/* ============================
   ANIMATIONS
============================ */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float-wpp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}

.animated-letter {
  display: inline-block;
  animation: fadeInUp 0.35s ease forwards;
}
